.home {
  height: 100%;
  width: 100;
  padding: 20px;
  margin-left: 230px;
}

#colchart {
  max-width: 650px;
  margin: 35px auto;
}

#piechart {
  max-width: 380px;
  margin: 35px auto;
  padding: 0;
}

#barchart {
  max-width: 650px;
  margin: 35px auto;
}
