.content{
  background-color: white;
  height: 100%;
  width: 100;
  padding: 20px;
  margin-left: 230px;
}
.bo{
  border-radius: 4px;
  background-color: oldlace;
  .col-1{
    text-align: center;
  }

  .col-2{
    text-align: center;
  }
  .p{
    text-align: justify;
  }
}
