.container{
  background-color: rgb(255, 157, 115);
  width: 230px;
  height: 100%;
  position: fixed;
  overflow: auto;
  // border-radius: 10px 0 0 10px ;
  // margin-left: 10px;
  padding: 0;
}

li a.nav-link{
  display: block;
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-align: left;

}
li a.nav-link:hover{
  background-color: rgb(250, 131, 81);
}
.container{
  background-color: rgb(255, 157, 115);
  width: 230px;
  height: 100%;
  position: fixed;
  overflow: auto;
  // border-radius: 10px 0 0 10px ;
  // margin-left: 10px;
  padding: 0;

}

li a.nav-link{
  display: block;
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-align: left;

}
li a.nav-link:hover{
  background-color: rgb(250, 131, 81);
}

ul {
  list-style-type: none;
  padding: 0;
}

.btn{
  margin-right: 5px;
}

