<app-navbars></app-navbars>
<div class="content">
  <div class="card">
    <div class="form-group">
      <label for="search-text">Search Text</label>
      <input type="email" class="form-control" id="search-text" aria-describedby="search-text"
        [(ngModel)]="searchText" placeholder="Enter text to search"
        autofocus>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let c of characters | filter: searchText">
        {{c}}
      </li>
    </ul>
  </div>
  <br />
  <h2 class="d-flex">Events > Ideas</h2>
  <div class="d-flex justify-content-end">
    <div ngbDropdown class="d-inline-block" style="margin-right: 250px">
      <button
        [routerLink]="['/create']"
        routerLinkActive="active"
        type="button"
        class="btn btn-primary br"
      >
        Create
      </button>
    </div>
  </div>
  <br />
  <div class="d-flex flex-row-reverse" style="margin-right: 50px">
    <div class="p-2">
      <input type="text" class="form-control" placeholder="Sort" />
    </div>
    <div class="p-2">
      <input type="text" class="form-control" placeholder="Filter" />
    </div>
  </div>
  <br />
  <div class="justify-content-evenly">
    <div *ngFor="let item of allIdea | filter: searchText" (click)="po(item.id)" class="row bo">
      <div class="col-1" style="font-size: 50px; margin-top: 25px">
        <i
          class="bi bi-person-circle"
          style="margin: 5px; border-radius: 15px"
        >{{item.userName}}</i>
      </div>
      <div class="col-9">
        <h5>{{item.ideaTitle}}</h5>
        <p class="p">
          {{item.ideaDescription}}
        </p>
      </div>
      <div
        class="col-2"
        style="
          font-size: 20px;
          letter-spacing: 15px;
          padding: 30px;
          margin-top: 10px;
        "
      >
        <button
          class="bi bi-hand-thumbs-up"
          style="margin: 5px; border-radius: 15px"
        ></button>
        <button
          class="bi bi-hand-thumbs-down"
          style="margin: 5px; border-radius: 15px"
        ></button>
        <button
          class="bi bi-chat-left-dots"
          style="margin: 5px; border-radius: 15px"
        ></button>
      </div>
    </div>
    <br />
  </div><br><br>
  <br />
</div>
<!-- Modal Posts -->
<div *ngIf="showp" class="bor">
  <div  class="pop">
    <div class="modal-header">
      <h1 class="text-align-center center">Posts by user</h1>
      <button type="button" class="btn-close" (click)="clo()"></button>
    </div>
    <div class="modal-body">
      <div class="mb-3 row">
        <label
          for="input"
          class="col-sm-1 col-form-label bi bi-person-circle"
          style="font-size: 30px"
        ></label>
        <div class="col-sm-8" style="border-radius: 10px">
          <h5>User A</h5>
          <p>Datetime</p>
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
        omnis porro assumenda dolorum aut quia eaque. Dicta possimus, mollitia
        nobis, odio non laboriosam illo consequuntur
      </p>
      <hr />
      <div class="d-flex mb-3">
        <div
          class="p-2 bi bi-hand-thumbs-up"
          style="border-radius: 10px; margin-right: 5px"
        ></div>
        <div
          class="p-2 bi bi-hand-thumbs-down"
          style="border-radius: 10px"
        ></div>
        <div class="p-2" style="border-radius: 10px">Sum</div>
        <div class="ms-auto p-2">Comment</div>
      </div>
      <hr />
      <div class="d-flex">
        <button
          class="p-2 flex-fill bi bi-hand-thumbs-up"
          style="border-radius: 10px; margin-right: 5px"
        >
          Like
        </button>
        <button
          class="p-2 flex-fill bi bi-hand-thumbs-down"
          style="border-radius: 10px; margin-right: 5px"
        >
          Dislike
        </button>
        <button
          class="p-2 flex-fill bi bi-chat-left"
          style="border-radius: 10px; margin-right: 5px"
        >
          Comment
        </button>
      </div>
      <br />
      <div class="mb-3 row">
        <label
          for="input"
          class="col-sm-1 col-form-label bi bi-person-circle"
          style="font-size: 30px"
        ></label>
        <div class="col-sm-8" style="border-radius: 10px">
          <h5>User B</h5>
          <p>Lorem ipsum dolor sit amet consectetur</p>
        </div>
      </div>
      <div class="mb-3 row">
        <label
          for="input"
          class="col-sm-1 col-form-label bi bi-person-circle"
          style="font-size: 30px"
        ></label>
        <div class="col-sm-8" style="border-radius: 10px">
          <h5>User C</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
            delectus labore ratione dolorum, voluptatibus hic,
          </p>
        </div>
      </div>
      <br />
      <hr />
      <div class="mb-3 row">
        <label
          for="input"
          class="col-sm-1 col-form-label bi bi-person-circle"
          style="font-size: 20px"
        ></label>
        <div class="col-sm-10">
          <input class="form-control" type="text" />
        </div>
      </div>
    </div>
    <div class="modal-footer"></div>
  </div>
</div>
